section.main-info-section{
    background: #F0f0f0;
    min-height: 50dvh;

}

/* ----------------------------------- */
.main-info-img-box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.main-info-img-box {
  position: relative;
  background-color: rgb(11, 125, 192);
  min-width: 750px;
  /* height: 600px; */
  aspect-ratio: 1/1;
  border-radius: 50%;

  overflow: hidden;
}
.main-info-img-box img {
  position: absolute;
  left: -50px;
  bottom: -75px;
  rotate: 10deg;
}

/* ----------------------------------- */
.main-info-text {
  min-width: 240px;
  max-width: 900px;
}
.contact-us-form {
  min-width: 240px;
  max-width: 600px;
}
.contact-us-form textarea {
  resize: none;
}
