.mainHeader {
  /* background: linear-gradient(
 
    rgb(3, 216, 240),
    rgb(0, 201, 205)

  ) !important; */
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 100;

  color: #ffffff;
  background: #01ff9100;
  transition: 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb();
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #00000000 !important; */
  padding: 10px 20px 20px;
  width: 100%;
}

.headerLogo {
  /* font-size: 50px; */
  font-weight: 900;
  font-style: italic;
}

.header nav {
  display: flex;
  @media (max-width: 768px) {
    /* background: #ff0000; */
    width: 100%;
    justify-content: end;
  }
}

.header nav div {
  gap: 20px;
  align-items: center;
}

.largManu {
  display: flex;
}

.button {
  background: rgb(77, 77, 255);
  border: none;
  color: #ffffff;
  padding: 7.5px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.button:hover {
  background: rgb(100, 100, 255);
}

button {
  background: #00000000;
  border: none;
}

.header ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.header ul li a {
  text-decoration: none;
  transition: color 0.3s;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.header ul li a:hover {
  color: #04c6ed;
}

.smallMenu {
  display: none;
}
.smallMenu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 65%;
  min-width: 300px;
  max-width: 400px;
  background: #00000094;
  transition: right 0.5s ease;
  display: flex;
  flex-direction: column;
  border-radius: 20px 0 0 20px;
}

.smallMenuShow {
  right: 0;
}

.smallMenu > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  width: 100%;
}

.smallMenu > div > div {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 20px 60px;
}

.smallMenu > div > ul {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  align-items: start;
  padding: 10px 40px;
  gap: 30px;
  color: #ffffff;
}
.smallMenu > div > ul > li > a {
  color: #ffffff;
}

.hideMenu {
  right: -100%;
}

.showMenu {
  right: 0;
}
.headerNavBtnBox {
  display: flex;
  align-items: center;
  justify-self: end;
  gap: 10px;
  position: relative;
  padding: 10px 0px 10px 0px;
}
.menuToggeler {
  position: relative;

  display: none;
  color: #554469;
  z-index: 100;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .largManu {
    display: none;
  }

  .menuToggeler {
    display: flex;
  }
  .header {
    padding: 10px 20px;
  }
}
